<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/-Filterable-Cards-.css">
    <link rel="stylesheet" href="assets/css/beautiful-dismissable-alert.css">
    <link rel="stylesheet" href="assets/css/bien.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Chat.css">
    <link rel="stylesheet" href="assets/css/Button-Outlines---Pretty.css">
    <link rel="stylesheet" href="assets/css/Comment.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="assets/css/dh-row-text-image-right-responsive.css">
    <link rel="stylesheet" href="assets/css/Filter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
    <link rel="stylesheet" href="assets/css/Multi-Language-tip.css">
    <link rel="stylesheet" href="assets/css/Pricing-Tables-1.css">
    <link rel="stylesheet" href="assets/css/Pricing-Tables.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="assets/css/tc-headline-1.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="assets/css/Team-with-rotating-cards.css">
    <link rel="stylesheet" href="assets/css/Team.css">
    <link rel="stylesheet" href="assets/css/testimonialSlider-1.css">
    <link rel="stylesheet" href="assets/css/testimonialSlider.css">
    <link rel="stylesheet" href="assets/css/Ultimate-Testimonial-Slider.css">
    <link rel="stylesheet" href="assets/css/Vertical-Mobile-Collapsible-Menu.css">
</head>

<body id="page-top" onload="error()">
<div id="wrapper"><nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="far fa-hand-spock"></i></div>
            <div class="sidebar-brand-text mx-3"><span>EXO - GLOVE</span></div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="/dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/estadisticas"><i class="icon ion-pie-graph"></i><span>Estad&#237;stica</span></a></li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-user"></i>Paciente</a>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/register">Registrar</a><a class="dropdown-item" role="presentation" href="/buscarPaciente">Buscar</a></div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-hospital"></i>Terapia</a>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/hojaEvolucion">Crear Hoja de Evoluci&#243;n</a> <a class="dropdown-item" role="presentation" href="/evolucion">Ver Hoja de Evoluci&#243;n</a> <a class="dropdown-item" role="presentation" href="#"></a></div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-user-nurse"></i>M&#233;dico</a>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/informacion">Informaci&#243;n</a></div>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>






                    <ul class="nav navbar-nav flex-nowrap ml-auto">


                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow" role="presentation">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small" th:text="${user}"></span><img class="border rounded-circle img-profile" src="assets/img/dogs/user.png"></a>
                                <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="/informacion"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Perfil</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Salir</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav><div class="profile-card">
            <div class="profile-back" style="background-color: #000000;"></div><img class="rounded-circle profile-pic" src="assets/img/avatars/pedro.png" />
            <h3 class="profile-name" style="background-color: #2c2222;" th:text="${especialista.nombre}+' '+${especialista.apellido}" >Dr. Joan Pena</h3>
            <div data-ride="carousel" data-interval="10000" class="carousel slide" id="carousel-t">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-9 text-center mx-auto testimonial-content">
                            <p class="text-center rating">5<i class="icon ion-star"></i></p>
                            <p class="signature" style="  color: #000000;
">Informaci&#243;n</p>
                            <p class="text-center" style="  color: #140000;
"><a th:text="'Soy un '+${especialista.tipo_especialista}+'.'">&quot;especialista dedicado a la terapia fisica.&quot;</a><br /></p>
                            <p class="text-center date">April 21, 2014<br /></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-9 text-center mx-auto testimonial-content">
                            <p class="text-center rating"><i class="icon ion-leaf"></i></p>
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Informaci&#243;n</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="especialidad"><strong>Especialidad</strong><br /></label><input type="text" class="form-control" placeholder="Terapeuta de la mano" name="especialidad" th:value="${especialista.tipo_especialista}" disabled /></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="correo"><strong>Correo Electr&#243;nico</strong><br /></label><input type="email" class="form-control" placeholder="user@example.com" name="correo" th:value="${especialista.cuenta.correo}" disabled /></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="cedula"><strong>C&#233;dula</strong><br /></label><input type="text" class="form-control" placeholder="(###)-#######-#" name="cedula" th:value="${especialista.cedula}" disabled /></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="telefono"><strong>Tel&#233;fono</strong><br /></label><input type="text" class="form-control" placeholder="(###)-###-###" name="telefono" th:value="${especialista.telefono}" disabled /></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card shadow"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-9 text-center mx-auto testimonial-content">
                            <p class="text-center rating"><i class="icon ion-location"></i></p>
                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Direcci&#243;n</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group"><label for="municipio"><strong>Municipio</strong><br /></label><input type="text" class="form-control" placeholder="?" name="municipio" th:value="${especialista.direccion.ciudad}" disabled/></div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="sector"><strong>Sector</strong><br /></label><input type="text" class="form-control" placeholder="?" name="sector" th:value="${especialista.direccion.sector}" disabled /></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="calle"><strong>Calle</strong><br /></label><input type="text" class="form-control" placeholder="?" name="calle" th:value="${especialista.direccion.calle}+', Residencial #'+${especialista.direccion.n_residencia} " disabled /></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div><a href="#carousel-t" data-slide="prev" class="carousel-control-prev"><i class="icon ion-android-arrow-dropleft-circle d-flex d-lg-flex justify-content-center align-items-center"></i><span class="sr-only">Previous</span></a><a href="#carousel-t"
                                                                                                                                                                                                                                                        data-slide="next" class="carousel-control-next"><i class="icon ion-android-arrow-dropright-circle d-flex d-lg-flex justify-content-center align-items-center"></i><span class="sr-only">Next</span></a></div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-t" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-t" data-slide-to="1"></li>
                    <li data-target="#carousel-t" data-slide-to="2"></li>

                </ol>
            </div>

            <ul class="social-list">
                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>

            <div id="alerta" onload="error()">

            </div>
            <script>
                function error(){
                    var val = "[[${alerta}]]"
                    if(val!=""){
                        document.getElementById("alerta").innerHTML = '                <div class="alert alert-danger alert-dismissible fade show" role="alert">\n' +
                            '                    <strong>Error al buscar!</strong> Especialista no Existe\n' +
                            '                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                            '                        <span aria-hidden="true">&times;</span>\n' +
                            '                    </button>\n' +
                            '                </div>'
                    }
                }
            </script>


            <nav class="navbar navbar-expand-lg navbar-light bg-primary">

            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                    <li class="nav-item active text-white ">

                    </li>
                </ul>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                    <li class="nav-item active text-white ">
                        Dar permisos para ver registros de mis pacientes&nbsp;<i class="fa fa-chevron-circle-right">
                    </i>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                    <li class="nav-item active text-white ">
                        <form class="form-inline my-2 my-lg-0" method="post" action="/permisos">
                            <input class="form-control mr-sm-2" type="search" placeholder="Id Del Especialista" name="especialista">
                            <input  type="hidden" value="registrar"  name="action">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Agregar</button>
                        </form>
                    </li>
                </ul>

            </div>
        </nav>


        </div>
        <footer class="bg-white sticky-footer">
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Buscar Paciente</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Informaci&#243;n del paciente</p>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive table mt-2" id="" role="grid" aria-describedby="dataTable_info">
                            <table class="table table-hover dt-responsive  my-0" id="dataTable">
                                <thead>

                                    <th >ID del Paciente</th>
                                    <th >ID del Especialista</th>
                                    <th >Acción</th>


                                </thead>
                                <tbody>

                                <th:block th:each="aux : ${listapermiso}">


                                    <tr >
                                        <td th:text="${aux.id_permisos}">10128006</td>
                                        <td th:text="${aux.id_especialista}">Joan Pena</td>
                                        <td>
                                            <form method="post" action="/permisos">
                                                <input type="hidden" th:value="${aux.id_permisos}" name="idPaciente">
                                                <input type="hidden" name="idEspecialista" th:value="${aux.id_especialista}">
                                                <input type="hidden" name="action" value="eliminar">
                                                <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                </th:block>


                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/chart.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="assets/js/-Filterable-Cards-.js"></script>
<script src="assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="assets/js/joder.js"></script>
<script src="assets/js/Multi-Language-tip.js"></script>
<script src="assets/js/Pricing-Tables-1.js"></script>
<script src="assets/js/Pricing-Tables.js"></script>
<script src="assets/js/testimonialSlider.js"></script>
<script src="assets/js/theme.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable({
            "language": {

                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            }
        });

    } );
</script>
</body>

</html>